<md-list-item class="md-2-line" ng-click="ctrl.handleClick()" ng-class="{active: ctrl.active}">
  <md-icon>{{ctrl.getIcon()}}</md-icon>
  <div class="md-list-item-text">
    <p>Issue: #{{ctrl.billboardItem._id}}</p>
    <p><small>{{ctrl.billboardItem.location_name}}</small></p>
  </div>
</md-list-item>
