.browsehappy {
  margin:0.2em 0;
  background:#cccccc;
  color:#000000;
  padding:0.2em 0;
}

[loading-bar] {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}


[map] map-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

md-list-item {
  &.active { background-color: #f5f5f5; }
}
.sidebar {
  width: 400px;
  min-height: 40px;
  max-height: 90%;

  z-index: 9;
  position: absolute;

  & [billboard-list] {
    max-height: 100%;
    overflow: scroll;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
