<form name="search" ng-submit="ctrl.handleSearch(ctrl.value)">
  <md-input-container layout="row">
    <label>Search</label>
    <input type="text" ng-model="ctrl.value">
  </md-input-container>
  <button type="submit" class="hide">Submit</button>
</form>
