<md-card class="sidebar">
  <md-card-content>
    <div search="ctrl.search" on-search="ctrl.onSearch($value)"></div>
  </md-card-content>
  <div billboard-list>
    <div
      ng-repeat="item in ctrl.items | filter: ctrl.search"
      billboard-item="item"
      on-click="ctrl.onItemClick($item)"
      active="item._id === ctrl.id"></div>
  </div>
</md-card>

<div
  map
  options="ctrl.mapOptions"
  id="ctrl.id"
  on-map-move="ctrl.updateState($map)"
  control-fn="ctrl.mapControl">
    <div
      ng-repeat="item in ctrl.items | filter: ctrl.search"
      marker="item"
      active="item._id === ctrl.id"
      on-click="ctrl.onItemClick(item, false)"></div>
</div>
